#nodeaccess-table th:not(:first-child) {
  text-align: center;
}

#nodeaccess-table td:not(:first-child) {
  text-align: center;
}

#nodeaccess-table tr:last-child {
  background-color: #000000;
  color: #FFFFFF;
}
